<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css"/>
        <link rel="stylesheet" href="/store.css"/>
	</head>
	<body>
		<div class="header">
			<div class="header-left">
				<a href="store">HOME</a>
				<a href="about">ABOUT</a>
			</div>
			<div class="header-right">
				<a href="cart.html">CART</a>
			</div>
			
		</div>
		<section class="section">
			<br>
			<h1 class="title">About Tawa</h1>
		</section>
        
    
    </body>
</html>