<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css"/>
        <link rel="stylesheet" href="/store.css"/>
	</head>
	<body>

		<div class="header">
			<div class="header-left">
				<a href="/">HOME</a>
				<a href="about">ABOUT</a>
			</div>
			<div class="header-right">
				<a href="cart.html">CART<i class="fa fa-shopping-cart"></i></a>
			</div>
        </div>
        <br>
        <br>
		<section class="section">
			<section class="container content-section">
				<div class="tile is-parent is-vertical">
					<article class="tile is-child notification ">
						<p class="title">CART</p>
						<div class="cart-row">
							<span class="cart-item cart-header cart-column">ITEM</span>
							<span class="cart-price cart-header cart-column">PRICE</span>
							<span class="cart-quantity cart-header cart-column"></span>
						</div>
						<div class="cart-items">
						</div>
						<div class="cart-total">
							<strong class="cart-total-title">Total</strong>
							<span class="cart-total-price">$0.00</span>
						</div>
						<button class="btn btn-primary btn-purchase" type="button">PURCHASE</button>
					</article>
				</div>
			</section>
		</section>
    
    </body>
</html>